.navbar-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* background-color: transparent; */
    position: fixed;
    top: 0;
    z-index: 10;
}

/* Logo styling */
.nav-logo img {
    max-width: 100%;
    height: auto;
}

.nav-ul-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-ul-list li a {
    text-decoration: none;
    font-size: 16px;
    color: #4b4b4b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-ul-list li a:hover {
    color: #15B392;
    /* background-color: #f7f7f7; */
    border-radius: 5px;
    cursor: pointer;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    list-style: none;
    display: none;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px 0px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    min-width: 300px;

}

.dropdown-menu li {
    padding: 5px;
    display: block;
}


.dropdown:hover .dropdown-menu {
    display: block;
}


.toggle_btn {
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
}


/* dropdown toggle */
.dropdown-toggle-1 {
    display: none;
    position: fixed;
    top: 65px;
    right: 0;
    left:15%;
    background-color: white;
    width: 110%;
    align-items: flex-start;
    text-transform: uppercase;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 9999; 
}

.dropdown-toggle-1.active {
    display: block;
    min-height: 100vh;
}

.dropdown-toggle-1 li {
    list-style: none;
    padding: 10px;
    margin-left: 10px;

}

.dropdown-toggle-1 ul{
    list-style: none;
}

.dropdown-toggle-1 li a {
    text-decoration: none;
    font-size: 20px;
    color: #4b4b4b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.dropdown-toggle-1 li a:hover {
    color: #15B392;
}

.dropdown-menu-toggle-1 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(245, 245, 245); */
    width: 100%;
    padding: 10px 0px;
    margin-top: 5px;
    right: 15%;
    left: 15%;

}

.dropdown-menu-toggle-1 li {
    border-radius: 20px;
    list-style: none;
}

.dropdown-li-toggle-1:hover .dropdown-menu-toggle-1 {
    display: block;
    flex-direction: column;
}

@media screen and (max-width: 894px) {
    .navbar-main {
        align-items: flex-start;
        justify-content: space-between;
    }
    

    .nav-middle {
        flex-direction: column;
    }

    .nav-ul-list {
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .dropdown-toggle {
        display: block;
    }

}